<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  
    <div class="back">
        <div class="head">
            <a href="/login">
            <p >Login</p></a>
            <a href="/register"><p >Sign up</p></a>
        </div>
        <div class="content">
        <p class="top">Exculsive Show (Experice in 3d)</p>
        <h1 class="title">Avatar the Way of Water</h1>
        <p class="info"><sub class="time"> 3h 12m || </sub> <sub class="rate"> PG 13</sub><sub class="year"> ||
            2022</sub></p>
      <p class="minfo">Set more than a decade after the first film, dive intot the story of the sully family. the lengths they go to keep each other safe and the tragedies they endure</p>
    <button class="watch">Watch Now</button>
    </div>
        <!-- <div class="sub1">
            <h1>Super Plan</h1>
             <p>Contains Ads and Unlimited Fun</p>
             <button ><a href="/login" target="_blank">Buy Now</a></button>
        </div>
        <div class="sub2">
            <h1>Premium Plan</h1>
             <p>No Ads and Unlimited Fun</p>
             
             <button ><a href="/login" target="_blank">Buy Now</a></button> -->
        </div>
    </div>
    <button class="a">clic</button>
</body>
</html>