<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/watch.css">
</head>
<body>
  <h1 >Movies For You</h1>
    <!-- !first div -->

    <div class="main">
       <div class="a">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6gj7a5_fPF0?si=4z8SEqYT9mJvA1D-" title="YouTube video player"controls frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
       </div>
       <div class="a">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6gj7a5_fPF0?si=4z8SEqYT9mJvA1D-" title="YouTube video player"controls frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
   </div>
   <div class="a">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6gj7a5_fPF0?si=4z8SEqYT9mJvA1D-" title="YouTube video player"controls frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
</div>
    </div>
<!-- 
    !seocnd div -->

    <div class="main">
        <div class="a">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/6gj7a5_fPF0?si=4z8SEqYT9mJvA1D-" title="YouTube video player"controls frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
        </div>
        <div class="a">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/6gj7a5_fPF0?si=4z8SEqYT9mJvA1D-" title="YouTube video player"controls frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
    </div>
    <div class="a">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/6gj7a5_fPF0?si=4z8SEqYT9mJvA1D-" title="YouTube video player"controls frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
 </div>
     </div>


     <!-- !third div -->


</body>
</html>